body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* header */

div.header {
    height: 75vh;
    background-color: #1F2937;
}


.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8vh;
    padding: 0 15vw;
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;

    list-style: none;
    font-size: 18px;
}

a.nav-links,
.white-text {
    text-decoration: none;
    color: #F9FAF8
}

/*Parent div for hero and header img*/

div.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    padding: 10vh 15vw;
}

div.hero-main-text {
    width: 45vw;
    height: 40vh;
}

div.header-img {
    width: 55vw;
    height: 40vh;
    background-color: rgb(219, 219, 219);
}

h1.hero {
    font-size: 48px;
    font-weight: 900;
}

p.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}