body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}



/* header */

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8vh;
    padding: 0 16vw;
    background-color: #1F2937;
}

p.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;

    list-style: none;
    font-size: 18px;
}

a.nav-links,
.white-text {
    text-decoration: none;
    color: #F9FAF8
}

/*div for hero and header img*/

div.hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 68vw;
    gap: 2vw;
    padding: 15vh 16vw;
    background-color: #1F2937;
}

div.hero {
    flex: 1;

}

div.header-img {
    flex: 1.5;
    max-width: 68vw;
    background-color: #d3d3d3;
}

h1.hero-text {
    font-size: 55px;
    font-weight: 900;
    line-height: 90%;
}


p.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button.header-button {
    font-size: 20px;
    font-weight: 900;

    padding: 1vh 2vw;
    border-radius: 1.2vh;
    border: none;
    background-color: #3882F6;
}

button.header-button:hover {
    cursor: pointer;
    background-color: #2d6bcf;
}

/*info panel*/

div.info-div {
    padding-top: 5vh;
    background-color: #E5E7EB;
}

h2.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 5vh;

}

div.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;

    max-width: 68vw;
    padding: 0 22vw 15vh;
}

div.info-box-div {
    flex: 1;

}

div.info-img-div {
    box-sizing: border-box;
    border: 0.3vw solid #3882F6;
    border-radius: 8%;
    height: 10vw;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;

}

div.info-text-div {
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

p.info-text {
    margin: 0.4rem 0;
    text-align: center;
}
