body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}



/* header */

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8vh;
    padding: 0 16vw;
    background-color: #1F2937;
}

p.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;

    list-style: none;
    font-size: 18px;
}

a.nav-links,
.white-text {
    text-decoration: none;
    color: #F9FAF8
}

/*div for hero and header img*/

div.hero-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 68vw;
    gap: 2vw;
    padding: 15vh 16vw;
    background-color: #1F2937;
}

div.hero {
    flex: 1;

}

div.header-img {
    flex: 1.5;
    max-width: 68vw;
    background-color: #d3d3d3;
}

h1.hero-text {
    font-size: 55px;
    font-weight: 900;
    line-height: 90%;
}


p.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button.header-button {
    font-size: 20px;
    font-weight: 900;

    padding: 1vh 2vw;
    border-radius: 1.2vh;
    border: none;
    background-color: #3882F6;
}

button.header-button:hover {
    cursor: pointer;
    background-color: #2d6bcf;
}

/*info panel*/

div.info-div {
    padding-top: 5vh;
    background-color: white;
}

h2.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 5vh;

}

div.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;

    max-width: 68vw;
    padding: 0 22vw 15vh;
}

div.info-box-div {
    flex: 1;

}

div.info-img-div {
    box-sizing: border-box;
    border: 0.3vw solid #3882F6;
    border-radius: 8%;
    height: 10vw;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;

}

/*
#img-1 {
    background-color: #c0d8fd;
}

#img-2 {
    background-color: #a0c6ff;
}

#img-3 {
    background-color: #61a0ff;
}

#img-4 {
    background-color: #116ffc;
}

*/

div.info-text-div {
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
    text-justify: inter-word;
}

p.info-text {
    margin: 0.5rem 0;
    color: #1F2937;
}

/*quote panel*/

div.quote-div {
    padding: 15vh 0 12vh;
    background-color: #E5E7EB;
}

div.quote-container {
    max-width: 68vw;
    padding: 0 22vw;
}

p.quote {
    font-size: 2.3rem;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
    color: #1F2937;
}

p.quote-author {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    color: #1F2937;
}

/*action panel*/

div.action-div {
    padding: 15vh 0;
    background-color: white;
}

div.action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
    margin: 0 18vw;
    padding: 3.5vh 0;
    background-color: #3882F6;
}

h3.call {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

p.call-subtext {
    font-size: 1.1rem;
    margin-top: 0;
}

#action-button {
    border: 2px solid #E5E7EB;
}

/*footer*/

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 5vh 0;
}
